
@{
    ViewBag.Title = "Index";
}

<h2 class="title">Hello!</h2>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div>
               <p class="site_intro">Welcome to Flash Forward.  This is a great place for learning and growing.
               To begin creating your own personal decks and cards for study sessions, create a login on our registration page and flex that brain!</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="index_option">
              
            </div>
        </div>

    </div>

</div>

