--USE [master]
--GO
--/****** Object:  Database [HotelFlashcards]    Script Date: 4/9/2018 4:47:58 PM ******/
--CREATE DATABASE [HotelFlashcards]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'HotelFlashcards', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\HotelFlashcards.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'HotelFlashcards_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\HotelFlashcards_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
--GO
--ALTER DATABASE [HotelFlashcards] SET COMPATIBILITY_LEVEL = 130
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [HotelFlashcards].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [HotelFlashcards] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET AUTO_CLOSE OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [HotelFlashcards] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [HotelFlashcards] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET  DISABLE_BROKER 
--GO
--ALTER DATABASE [HotelFlashcards] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [HotelFlashcards] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET HONOR_BROKER_PRIORITY OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET RECOVERY SIMPLE 
--GO
--ALTER DATABASE [HotelFlashcards] SET  MULTI_USER 
--GO
--ALTER DATABASE [HotelFlashcards] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [HotelFlashcards] SET DB_CHAINING OFF 
--GO
--ALTER DATABASE [HotelFlashcards] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [HotelFlashcards] SET TARGET_RECOVERY_TIME = 60 SECONDS 
--GO
--ALTER DATABASE [HotelFlashcards] SET DELAYED_DURABILITY = DISABLED 
--GO
--ALTER DATABASE [HotelFlashcards] SET QUERY_STORE = OFF
--GO
--USE [HotelFlashcards]
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET LEGACY_CARDINALITY_ESTIMATION = OFF;
--GO
--ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET LEGACY_CARDINALITY_ESTIMATION = PRIMARY;
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 0;
--GO
--ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET MAXDOP = PRIMARY;
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET PARAMETER_SNIFFING = ON;
--GO
--ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET PARAMETER_SNIFFING = PRIMARY;
--GO
--ALTER DATABASE SCOPED CONFIGURATION SET QUERY_OPTIMIZER_HOTFIXES = OFF;
--GO
--ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET QUERY_OPTIMIZER_HOTFIXES = PRIMARY;
--GO
USE [HotelFlashcards]
GO
/****** Object:  Table [dbo].[card_deck]    Script Date: 4/9/2018 4:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_deck](
	[CardID] [int] NOT NULL,
	[DeckID] [int] NOT NULL,
 CONSTRAINT [PK_card_deck] PRIMARY KEY CLUSTERED 
(
	[CardID] ASC,
	[DeckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_tag]    Script Date: 4/9/2018 4:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_tag](
	[TagID] [int] NOT NULL,
	[CardID] [int] NOT NULL,
 CONSTRAINT [PK_card_tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC,
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 4/9/2018 4:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[CardID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Front] [nchar](1000) NOT NULL,
	[Back] [nchar](1000) NOT NULL,
 CONSTRAINT [PK_cards] PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deck_tag]    Script Date: 4/9/2018 4:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deck_tag](
	[TagID] [int] NOT NULL,
	[DeckID] [int] NOT NULL,
 CONSTRAINT [PK_deck_tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC,
	[DeckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[decks]    Script Date: 4/9/2018 4:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[decks](
	[DeckID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[IsPublic] [bit] NOT NULL,
 CONSTRAINT [PK_decks] PRIMARY KEY CLUSTERED 
(
	[DeckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 4/9/2018 4:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/9/2018 4:47:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nchar](50) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[DisplayName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_users_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[decks] ADD  CONSTRAINT [DF_decks_IsPublic]  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[card_deck]  WITH CHECK ADD  CONSTRAINT [FK_card_deck_cards_CardID] FOREIGN KEY([CardID])
REFERENCES [dbo].[cards] ([CardID])
GO
ALTER TABLE [dbo].[card_deck] CHECK CONSTRAINT [FK_card_deck_cards_CardID]
GO
ALTER TABLE [dbo].[card_deck]  WITH CHECK ADD  CONSTRAINT [FK_card_deck_decks_DeckID] FOREIGN KEY([DeckID])
REFERENCES [dbo].[decks] ([DeckID])
GO
ALTER TABLE [dbo].[card_deck] CHECK CONSTRAINT [FK_card_deck_decks_DeckID]
GO
ALTER TABLE [dbo].[card_tag]  WITH CHECK ADD  CONSTRAINT [FK_card_tag_cards] FOREIGN KEY([CardID])
REFERENCES [dbo].[cards] ([CardID])
GO
ALTER TABLE [dbo].[card_tag] CHECK CONSTRAINT [FK_card_tag_cards]
GO
ALTER TABLE [dbo].[card_tag]  WITH CHECK ADD  CONSTRAINT [FK_card_tag_tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[tags] ([TagID])
GO
ALTER TABLE [dbo].[card_tag] CHECK CONSTRAINT [FK_card_tag_tags_TagID]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD  CONSTRAINT [FK_cards_users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[users] ([UserID])
GO
ALTER TABLE [dbo].[cards] CHECK CONSTRAINT [FK_cards_users_UserID]
GO
ALTER TABLE [dbo].[deck_tag]  WITH CHECK ADD  CONSTRAINT [FK_deck_tag_decks_DeckID] FOREIGN KEY([DeckID])
REFERENCES [dbo].[decks] ([DeckID])
GO
ALTER TABLE [dbo].[deck_tag] CHECK CONSTRAINT [FK_deck_tag_decks_DeckID]
GO
ALTER TABLE [dbo].[deck_tag]  WITH CHECK ADD  CONSTRAINT [FK_deck_tag_tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[tags] ([TagID])
GO
ALTER TABLE [dbo].[deck_tag] CHECK CONSTRAINT [FK_deck_tag_tags_TagID]
GO
ALTER TABLE [dbo].[decks]  WITH CHECK ADD  CONSTRAINT [FK_decks_users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[users] ([UserID])
GO
ALTER TABLE [dbo].[decks] CHECK CONSTRAINT [FK_decks_users_UserID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email is unique in table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'users', @level2type=N'CONSTRAINT',@level2name=N'IX_users_Email'
GO
USE [master]
GO
